.button{
    padding: 13px 20px;
    display: flex;
    width:320px;
    cursor: pointer;
    margin: 25px 0;
    gap:10px;
    border-radius: 10px;
    justify-content: start;
    align-items: center;
    background-color: #ff301d;
    color: var(--white);

    svg{
        width: 24px;
        height: 24px;
    }
    h3{
        font-size: var(--fs-lg);
    }
    @media screen and (min-width:1400px) {
        width: 400px;
    }
}